
<header class="navbar bg-base-200 shadow-lg">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <%= link_to "Real Time Search", root_path, class: "btn btn-ghost text-2xl" %>
  </div>
  <div class="navbar-end">
  </div>
</header>
