<div id="<%= dom_id query %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Search:</strong>
    <%= query.search %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User ip:</strong>
    <%= query.user_ip %>
  </p>

</div>
